div.error
  margin: 180px auto
  width: 400px
  text-align: center
  
div.error-title
  font-size: 30px
  padding-bottom: 10px
  border-bottom: 1px solid #000
  
div.error-message
  font-size: 20px
  padding-top: 10px