body
  background #333
  margin 0px
  padding 0px
  font-family 'Open Sans', sans-serif
  font-size 13px

div.paper
  width 850px
  height 1100px
  background #fff
  margin 20px auto

div.margins
  padding 40px 100px

a.login-btn
  color #fff
  padding 10px 20px
  float right
  margin 0 15px
  background-color #5a5a5a
  cursor pointer
