body
  background: #333
  margin: 0px
  padding: 0px
  font-family: 'Open Sans', sans-serif
  font-size: 13px

div.paper
  width: 850px
  height: 1100px
  background: #fff
  margin: 5px auto

div.margins
  padding: 40px 100px
  
div.error
  margin: 180px auto
  width: 400px
  text-align: center
  
div.error-title
  font-size: 30px
  padding-bottom: 10px
  border-bottom: 1px solid #000
  
div.error-message
  font-size: 20px
  padding-top: 10px