doctype html
html(lang='en' ng-app='app')
  head
    script(src='https://cdn.socket.io/socket.io-1.3.5.js')
    script(src='https://code.jquery.com/jquery-1.11.3.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular.js')
    link(rel='stylesheet' type='text/css' href='style/frame.css')
  body
    div(class='paper' ng-controller='appCtrl as vm' ng-init='vm.renderLayout()')
      div(class='margins')
    script(src="js/app.controller.js")
