.header
  .name Tanner S. Coval
  .row
    .middle-third 2107 NE 54th St.
  .row
    .left-third (360) 608-9198
    .right-third tannercoval@gmail.com
    .middle-third Seattle, WA 98105
.education
  .section-title Education
  .entry
    .row
      .left-third.title University of Washington
      .right-third Graduate 2016
      .middle-third Seattle, WA
    .subtitle Major - Computer Science
    .subtitle GPA - 3.71
  .entry
    .row
      .left-third.title King's Way Christian HS
      .right-third Graduated 2012
      .middle-third Vancouver, WA
      .subtitle GPA - 3.86
.employment
  .section-title Employment
  .entry
    .row
      .left-third.title WhitePages
      .right-third June 2014 - Present
      .middle-third Seattle, WA
      .subtitle Software Engineering Intern - Data Team
      ul.bullets
        li.bullet Designed and implemented a supervised machine learning model used for classification.
        li.bullet Project provided groundwork for large improvements in company wide data accuracy.
        li.bullet Theory used includes: logistic regression, decision trees, confusion matrix, lasso feature selection, and various sampling techniques.
  .entry
    .row
      .left-third.title University of Washington
      .right-third Sept. 2013 - Dec. 2013
      .middle-third Seattle, WA
    .subtitle CSE Undergraduate Teaching Assistant
    ul.bullets
      li.bullet Lead quiz sections of 20+ students, attended lectures, and graded assignments / tests.
  .entry
    .row
      .left-third.title Porch
      .right-third June 2013 - Aug. 2013
      .middle-third Seattle, WA
    .subtitle Software Engineering Intern
    ul.bullets
      li.bullet Developed a multithreaded program to automate SEO related tasks specific to social media.
  .entry
    .row
      .left-third.title Hewlett-Packard
      .right-third June 2011 - Aug. 2011
      .middle-third Vancouver, WA
    .subtitle Software Engineering Intern
    ul.bullets
      li.bullet Imaging and Printing Group (R&amp;D)
      li.bullet Created a tool for internal use, which connected with numerous printers on a network in order to analyze the printer's settings and internal files.
.skills
  .section-title Skills
  .entry
    .row
      .left-third.center
        span.bold Java (3 years)
      .right-third.center
        span.bold Linux
      .middle-third.center
        span.bold HTML, CSS, PHP, SQL (1 year)
    .row
      .left-third.center
        span.bold Python (2 years)
      .right-third.center
        span.bold Machine Learning
      .middle-third.center
        span.bold Ruby, R, Scala, Javascript (&lt;1 year)
.projects
  .section-title Projects
  .entry
    .row
      .left-half.title HUSKY RESUME
      .right-half July 2013 - Nov. 2013
    ul.bullets
      li.bullet Designed a website to generate pdf resumes for students on campus
  .entry
    .row
      .left-third.title
        span.italics FIRST Robotics Team
      .right-third Jan. 2011 - Mar. 2011
      .middle-third Vancouver, WA
    .subtitle Project Leader
    ul.bullets
      li.bullet Coordinated a 6 week build season for a robotics competition
      li.bullet Robotics programmer, assisted with mechanical development and design
.leadership
  .section-title Leadership
  .entry
    .row
      .left-half.title Varsity Soccer and Football
      .right-half Sept. 2011
    .subtitle Team Captain (2 years)
  .entry
    .row
      .left-third.title Boy Scouts of America
      .right-third Feb. 2005 - Jan. 2012
      .middle-third Troop #358
    .subtitle Eagle Scout
    ul.bullets
      li.bullet Served as Senior Patrol Leader for multiple, six month rotations
      li.bullet Member of the Order of the Arrow - Honor Society