#liModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='loginModalLabel',  ng-blur='auth.liClear()')
  .modal-dialog(role='document')
    .modal-content
      form(novalidate, name='liForm', ng-submit='auth.login()')
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#liModalLabel.modal-title Login
        .modal-body
          div
            label(for='username') Username
            input#liUsername(type='text', name='username', ng-model='auth.liUsername', required, autocomplete='off')
          br
          div
            label(for='password') Password
            input#liPassword(type='password', name='password', ng-model='auth.liPassword', required)
          p(ng-hide='auth.liError === ""') {{auth.liError}}
        .modal-footer
          div
            input(type='submit', value='Login', ng-disabled='liForm.$invalid')
