#signupModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='signupModalLabel')
  .modal-dialog(role='document')
    .modal-content
      form(name='form', ng-submit='vm.signup()', role='form')
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#myModalLabel.modal-title Signup
        .modal-body
          div
            label(for='username') Username
            input#suUsername(type='text', name='username', ng-model='vm.suUsername', ng-change='vm.validateUser()', required, autocomplete='off')
            // p(ng-hide='vm.suSocketMsg === ""') {{vm.suSocketMsg}}
          br
          div
            label(for='password') Password
            input(type='password', name='password', ng-model='vm.suPassword', required)
            p(ng-hide='vm.suError === ""') {{vm.suError}}
        .modal-footer
          div
            input(type='submit', value='Signup')
