#signupModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='signupModalLabel')
  .modal-dialog(role='document')
    .modal-content
      form(name='form', ng-submit='vm.signup()', role='form')
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#myModalLabel.modal-title Signup
        .modal-body
          div
            label(for='username') Username
            input(type='text', name='username', ng-model='vm.suUsername', required)
          br
          div
            label(for='password') Password
            input(type='password', name='password', ng-model='vm.suPassword', required)
            p(ng-hide='vm.signupError === ""') {{vm.signupError}}
        .modal-footer
          div
            input(type='submit', value='Signup')
