link(rel='stylesheet' type='text/css' href='style/template-1.css')
.header
  .name(contentEditable='true') Tanner S. Coval
  .row
    .middle-third(contentEditable='true') 2107 NE 54th St.
  .row
    .left-third(contentEditable='true') (360) 608-9198
    .right-third(contentEditable='true') tannercoval@gmail.com
    .middle-third(contentEditable='true') Seattle, WA 98105
.education
  .section-title Education
  .entry
    .row
      .left-third.title(contentEditable='true') University of Washington
      .right-third(contentEditable='true') Graduate 2016
      .middle-third(contentEditable='true') Seattle, WA
    .subtitle(contentEditable='true') Major - Computer Science
    .subtitle(contentEditable='true') GPA - 3.71
  .entry
    .row
      .left-third.title(contentEditable='true') King's Way Christian HS
      .right-third(contentEditable='true') Graduated 2012
      .middle-third(contentEditable='true') Vancouver, WA
      .subtitle(contentEditable='true') GPA - 3.86
.employment
  .section-title Employment
  .entry
    .row
      .left-third.title(contentEditable='true') WhitePages
      .right-third(contentEditable='true') June 2014 - Present
      .middle-third(contentEditable='true') Seattle, WA
      .subtitle(contentEditable='true') Software Engineering Intern - Data Team
      ul.bullets
        li.bullet(contentEditable='true') Designed and implemented a supervised machine learning model used for classification.
        li.bullet(contentEditable='true') Project provided groundwork for large improvements in company wide data accuracy.
        li.bullet(contentEditable='true') Theory used includes: logistic regression, decision trees, confusion matrix, lasso feature selection, and various sampling techniques.
  .entry
    .row
      .left-third.title(contentEditable='true') University of Washington
      .right-third(contentEditable='true') Sept. 2013 - Dec. 2013
      .middle-third(contentEditable='true') Seattle, WA
    .subtitle(contentEditable='true') CSE Undergraduate Teaching Assistant
    ul.bullets
      li.bullet(contentEditable='true') Lead quiz sections of 20+ students, attended lectures, and graded assignments / tests.
  .entry
    .row
      .left-third.title(contentEditable='true') Porch
      .right-third(contentEditable='true') June 2013 - Aug. 2013
      .middle-third(contentEditable='true') Seattle, WA
    .subtitle(contentEditable='true') Software Engineering Intern
    ul.bullets
      li.bullet(contentEditable='true') Developed a multithreaded program to automate SEO related tasks specific to social media.
  .entry
    .row
      .left-third.title(contentEditable='true') Hewlett-Packard
      .right-third(contentEditable='true') June 2011 - Aug. 2011
      .middle-third(contentEditable='true') Vancouver, WA
    .subtitle(contentEditable='true') Software Engineering Intern
    ul.bullets
      li.bullet(contentEditable='true') Imaging and Printing Group (R&amp;D)
      li.bullet(contentEditable='true') Created a tool for internal use, which connected with numerous printers on a network in order to analyze the printer's settings and internal files.
.skills
  .section-title Skills
  .entry
    .row
      .left-third.center
        span.bold(contentEditable='true') Java (3 years)
      .right-third.center
        span.bold(contentEditable='true') Linux
      .middle-third.center
        span.bold(contentEditable='true') HTML, CSS, PHP, SQL (1 year)
    .row
      .left-third.center
        span.bold(contentEditable='true') Python (2 years)
      .right-third.center
        span.bold(contentEditable='true') Machine Learning
      .middle-third.center
        span.bold(contentEditable='true') Ruby, R, Scala, Javascript (&lt;1 year)
.projects
  .section-title Projects
  .entry
    .row
      .left-half.title(contentEditable='true') HUSKY RESUME
      .right-half(contentEditable='true') July 2013 - Nov. 2013
    ul.bullets
      li.bullet(contentEditable='true') Designed a website to generate pdf resumes for students on campus
  .entry
    .row
      .left-third.title
        span.italics(contentEditable='true') FIRST Robotics Team
      .right-third(contentEditable='true') Jan. 2011 - Mar. 2011
      .middle-third(contentEditable='true') Vancouver, WA
    .subtitle(contentEditable='true') Project Leader
    ul.bullets
      li.bullet(contentEditable='true') Coordinated a 6 week build season for a robotics competition
      li.bullet(contentEditable='true') Robotics programmer, assisted with mechanical development and design
.leadership
  .section-title Leadership
  .entry
    .row
      .left-half.title(contentEditable='true') Varsity Soccer and Football
      .right-half(contentEditable='true') Sept. 2011
    .subtitle(contentEditable='true') Team Captain (2 years)
  .entry
    .row
      .left-third.title(contentEditable='true') Boy Scouts of America
      .right-third(contentEditable='true') Feb. 2005 - Jan. 2012
      .middle-third(contentEditable='true') Troop #358
    .subtitle(contentEditable='true') Eagle Scout
    ul.bullets
      li.bullet(contentEditable='true') Served as Senior Patrol Leader for multiple, six month rotations
      li.bullet(contentEditable='true') Member of the Order of the Arrow - Honor Society