label
  display block
  margin-bottom 10px
  font-size 14px

input[type="text"], input[type="password"]
  padding 5px
  margin-bottom 10px

input[type="submit"]
  border none
  padding 10px 20px
  font-size 14px
  background-color #a7a7a7
  color #fff
  cursor pointer

#suUsername:focus
  outline-color green

#suUsername.unavailable:focus
  outline-color red

@media screen and (min-width:700px) {
  input[type="text"], input[type="password"] {
    min-width 200px
  }
}
