div.header
  width: 100%

div.header div.name
  text-align: center
  font-size: 18px
  font-weight: 700

div.left-third
  display: inline-block
  width: 30%
  float: left
  text-align: left
  vertical-align: bottom

div.middle-third
  width: 50%
  margin: 0px auto
  text-align: center
  vertical-align: bottom

div.right-third
  display: inline-block
  width: 30%
  float: right
  text-align: right
  vertical-align: bottom

div.left-half
  display: inline-block
  width: 50%
  text-align: left

div.right-half
  display: inline-block
  width: 50%
  text-align: right

div.row
  display: block

div.section-title
  border-top: 2px solid #000
  border-bottom: 1px solid #000
  margin-top: 4px
  margin-bottom: 8px
  padding-top: 2px
  text-align: center
  text-transform: uppercase
  font-weight: 600
  font-size: 16px

div.subtitle
  font-weight: 700

div.entry
  margin-bottom: 10px

ul.bullets
  margin: 0px
  padding: 0 40px 0 60px

li.bullet
  text-align: left

div.center
  text-align: center
