ul
  list-style-type: none
  margin: 0
  padding: 0

div.header
  width: 100%
  margin-bottom: 4px

div.header div.name
  text-align: center
  font-size: 18px
  font-weight: 700

div.left-third
  display: inline-block
  width: 30%
  float: left
  text-align: left
  vertical-align: bottom

div.middle-third
  width: 40%
  margin: 0px auto
  text-align: center
  vertical-align: bottom

div.right-third
  display: inline-block
  width: 30%
  float: right
  text-align: right
  vertical-align: bottom

div.left-half
  display: inline-block
  width: 50%
  text-align: left

div.right-half
  display: inline-block
  width: 50%
  text-align: right

div.row
  display: block

li.section
  box-sizing: border-box
  border: 1px solid transparent
  background-color: #fff

div.section-handle
  cursor: ns-resize
  border-top: 2px solid #000
  border-bottom: 1px solid #000
  margin-bottom: 8px
  padding-top: 2px
  text-align: center
  font-weight: 600
  font-size: 16px

div.section-title
  cursor: text
  display: inline-block

div.subtitle
  font-weight: 700

li.entry
  box-sizing: border-box
  border: 1px solid transparent
  padding-bottom: 10px
  background-color: #fff
  
li.entry:hover
  border-color: #000

ul.bullets
  list-style-type: square
  list-style: default
  margin: 0px
  padding: 0 40px 0 60px

li.bullet
  text-align: left

div.center
  text-align: center